.classroom {
  padding: 50px;
  > * {
    color: #000;
  }
  &__header--h1 {
    font-size: 36px;
  }
  &__form {
    width: 600px;
  }

  &__input {
    align-items: center;
    font-size: 16px;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    padding: 2px 8px;
    min-height: 38px;
    transition: all 100ms;
    margin-bottom: 8px;
    &:focus {
      outline-color: #2684ff;
    }
  }

  &__input-group {
    display: flex;
    flex-direction: column;
    margin: 12px 0;
    label {
      margin-bottom: 6px;
    }
    span {
      color: red;
      margin-top: 8px;
    }
  }

  &__button {
    margin-top: 10px;
    background-color: #2684ff;
    color: #fff;
    border: 0;
    padding: 0 20px;
    height: 38px;
    border-radius: 4px;
    font-size: 16px;
    float: right;
    cursor:pointer;
    transition: background-color .2s;

    &:hover {
      filter: brightness(0.9);
    }
  }
}
