.filter-input {
  height: 36px;
  width: 300px;
  border-radius: 3px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #e5e5e5;
  padding: 0 32px 0 16px;
  transition: all 100ms;

  &:focus {
    outline-color: #2684ff;
  }
}

.close-icon {
  border-radius: 2px;
  height: 36px;
  width: 36px;
  margin-left: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d6d4d4;
  &:hover {
    background-color: #ff6347;

    svg {
      fill: #fff;
    }
  }
}
